@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);

@import 'settings/imports';
@import 'tools/imports';

@import 'bower-imports';

@import 'base/imports';
@import 'components/imports';

@import 'postcss/main.css';
@import 'postcss/ninja.css';

.class-test {
	size: 200px;
	overflow: hidden;
	background: hacker-news-color;
	color: #fff;
	&:at-least(4) {
		size: 100px 150px;
		background: google-color;
	}
}

body {
	max-width: 100%;
}

$networks: 'facebook', 'google', 'twitter', 'youtube', 'linkedin', 'spotify';

@each $network in $networks {
	.#{$network} {
		background: #{$network}-color;
		color: #fff;
	}
}

.position-normal {
	position: absolute;
}

.position-two {
	position: absolute 0 10px;
}

.position-three {
	position: absolute 10px 15px 200px;
}

.position-four {
	position: absolute 100px 150px 200px 250px;
}

#sr-main {
	@include columns(1);

	@include breakpoint(from-tablet) {
		@include columns(2);
	}
}